In [ ]:
# !pip install pymysql

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [ ]:
# !pip install yfinance

Collecting yfinance
  Downloading yfinance-1.0-py2.py3-none-any.whl.metadata (6.0 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (2.2.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (2.32.3)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.12.tar.gz (19 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (4.3.7)
Requirement already satisfied: pytz>=2022.5 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.19.0-py3-none-any.whl.metadata (7.0 kB)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Collecting curl_cffi<0.14,>=0.7 (from yfinance)
  Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\rkdtk\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Collecting websockets>=13.0 (from yfinance)
  Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl.metadata (7.0 kB)
Requirement already satisfied: cffi>=1.12.0 in c:\users\rkdtk\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\rkdtk\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2025.11.12)
Requirement already satisfied: soupsieve>1.2 in c:\users\rkdtk\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: pycparser in c:\users\rkdtk\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.21)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rkdtk\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rkdtk\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rkdtk\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rkdtk\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rkdtk\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rkdtk\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.5.0)
Downloading yfinance-1.0-py2.py3-none-any.whl (127 kB)
Downloading curl_cffi-0.13.0-cp39-abi3-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 1.6/1.6 MB 17.5 MB/s eta 0:00:00
Downloading peewee-3.19.0-py3-none-any.whl (411 kB)
Downloading websockets-15.0.1-cp313-cp313-win_amd64.whl (176 kB)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.12-py3-none-any.whl size=15618 sha256=c80602a1f270fc20729ba21c074cb277d64380b47ecd1b9b58167194cd26dfad
  Stored in directory: c:\users\rkdtk\appdata\local\pip\cache\wheels\1e\df\0f\e2bbb22d689b30c681feb5410ab64a2523437b34c8ecfc6476
Successfully built multitasking
Installing collected packages: peewee, multitasking, websockets, curl_cffi, yfinance

   ---------------------------------------- 0/5 [peewee]
   ---------------------------------------- 0/5 [peewee]
   ---------------- ----------------------- 2/5 [websockets]
   ---------------- ----------------------- 2/5 [websockets]
   ---------------- ----------------------- 2/5 [websockets]
   ------------------------ --------------- 3/5 [curl_cffi]
   -------------------------------- ------- 4/5 [yfinance]
   -------------------------------- ------- 4/5 [yfinance]
   ---------------------------------------- 5/5 [yfinance]

Successfully installed curl_cffi-0.13.0 multitasking-0.0.12 peewee-3.19.0 websockets-15.0.1 yfinance-1.0

  DEPRECATION: Building 'multitasking' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'multitasking'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [ ]:
# !pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\rkdtk\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rkdtk\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rkdtk\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)

In [2]:
import pymysql
from sqlalchemy import create_engine

In [2]:
import pandas as pd

In [9]:
df = pd.read_csv('../코스피200ticker.csv', dtype={'ticker':str})

In [ ]:
for i in range(len(df)):
    if df[i]['end_date'][:4] == '2015':

     ticker  start_date    end_date
0    000030  2015-01-30  2019-01-31
1    000050  2015-06-30  2018-05-31
2    000060  2022-06-30  2022-12-29
3    000070  2015-01-30  2022-11-30
4    000080  2015-01-30  2024-12-30
..      ...         ...         ...
318  450080  2023-12-28  2024-12-30
319  454910  2024-06-28  2024-12-30
320  456040  2024-12-30  2024-12-30
321  457190  2024-06-28  2024-12-30
322  489790  2024-09-30  2024-12-30

[323 rows x 3 columns]

In [20]:
ddf = df[df['end_date'].str[:4] != '2015'].reset_index(drop=True)

In [21]:
ddf

     ticker  start_date    end_date
0    000030  2015-01-30  2019-01-31
1    000050  2015-06-30  2018-05-31
2    000060  2022-06-30  2022-12-29
3    000070  2015-01-30  2022-11-30
4    000080  2015-01-30  2024-12-30
..      ...         ...         ...
302  450080  2023-12-28  2024-12-30
303  454910  2024-06-28  2024-12-30
304  456040  2024-12-30  2024-12-30
305  457190  2024-06-28  2024-12-30
306  489790  2024-09-30  2024-12-30

[307 rows x 3 columns]

In [22]:
ddf['start_date']

0      2015-01-30
1      2015-06-30
2      2022-06-30
3      2015-01-30
4      2015-01-30
          ...
302    2023-12-28
303    2024-06-28
304    2024-12-30
305    2024-06-28
306    2024-09-30
Name: start_date, Length: 307, dtype: object

In [17]:
from dotenv import load_dotenv

In [18]:
load_dotenv()

True

In [ ]:
from sqlalchemy import create_engine, text
import os
from sqlalchemy.engine import URL

url_object = URL.create(
    drivername="mysql+pymysql",
    username=os.getenv('user'),
    password=os.getenv('pw'),
    host=os.getenv('host'),
    port=os.getenv('port'),
    database=os.getenv('db_name')
)

engine = create_engine(url_object)

# SQL 명령어를 실행하기 위한 코드
sql_create_table = """
CREATE TABLE IF NOT EXISTS news_analysis (
    id INT AUTO_INCREMENT PRIMARY KEY,
    base_date DATETIME,
    title VARCHAR(500),
    content TEXT,
    ticker VARCHAR(10),
    pred_label TINYINT,
    pred_neg FLOAT,
    pred_neu FLOAT,
    pred_pos FLOAT,
    sentiment VARCHAR(20),
    INDEX idx_ticker_date (ticker, base_date)
);
"""

with engine.connect() as conn:
    conn.execute(text(sql_create_table))
    print("테이블 생성 완료!")

테이블 생성 완료!

In [29]:
df

,일자,title,content,ticker,pred_label,prob_neg,prob_neu,prob_pos,sentiment,base_date
0,20150111,"BGF리테일, 브랜드 비전 선포식 개최...새 슬로건 공개",BGF리테일은 지난 9일 ‘브랜드 비전 선포식’을 갖고 BGF와 CU의 슬로건을 새...,282330,0,0.0097,0.9883,0.0021,중립,2015-01-11
1,20150112,[동정] 홍석조 BGF리테일 회장 비전 선포식 外,홍석조 BGF리테일 회장 비전 선포식홍석조(62 사진) BGF리테일 회장은 지난 9...,282330,0,0.0071,0.9915,0.0014,중립,2015-01-12
2,20150114,"BGF리테일, 4Q 실적 눈높이 충족 예상 투자의견↑ 목표가↑-HMC",[ 이민하 기자 ] HMC투자증권은 14일 BGF리테일에 대해 지난 4분기 실적이 ...,282330,0,0.0062,0.9862,0.0075,중립,2015-01-14
3,20150114,"BGF리테일, 양호한 실적이 재평가 견인-HMC",HMC투자증권은 14일 BGF리테일이 속한 편의점 업종이 올해도 유통채널 중 가장 ...,282330,1,0.0041,0.0256,0.9703,호재(긍정),2015-01-14
4,20150114,"BGF리테일, 편의점 성장 기대감 투자의견↑-HMC",[이데일리 김인경 기자] HMC투자증권은 BGF리테일(027410)의 실적성장이 나...,282330,0,0.0164,0.9487,0.0349,중립,2015-01-14
...,...,...,...,...,...,...,...,...,...,...
2478,20241202,"BGF리테일, 수익성 개선 구간 진입 ""밸류에이션 상단은 제한적""-하나증권",[머니투데이 천현정 기자] 하나증권은 BGF리테일이 수익성 개선 구간에 진입했으나 ...,282330,0,0.0246,0.9592,0.0163,중립,2024-12-02
2479,20241218,"민승배 BGF리테일 대표, 한국유통대상 동탑산업훈장 수상",편의점 CU를 운영하는 BGF리테일은 민승배 대표가 이달 17일 대한상공회의소에서 ...,282330,0,0.0085,0.9893,0.0022,중립,2024-12-18
2480,20241218,"민승배 BGF리테일 대표, 제29회 한국유통대상 동탑산업훈장 수상",BGF리테일은 민승배 대표가 이달 17일 대한상공회의소에서 열린 제29회 한국유통대...,282330,0,0.0070,0.9908,0.0022,중립,2024-12-18
2481,20241218,"[단독] 고속도로 휴게소 진출한 BGF리테일 ‘함박웃음’, 얼마나 벌길래? [언박싱]","BGF리테일, 고속도로 5개 휴게시설 운영권 낙찰 \n年매출 776억원 예상 일반 ...",282330,1,0.0016,0.0009,0.9975,호재(긍정),2024-12-18
2482,20241219,"BGF리테일, 고속도휴게소 진출 ‘함박웃음’",서산 치악 등 5곳 휴게시설 운영 \n지분투자로 편의점 추가 개점 검토 \n일반점比...,282330,-1,0.4673,0.3094,0.2233,악재(부정),2024-12-19

In [3]:
df = pd.read_csv('../뉴스분류/뉴스분류/BGF리테일_predicted_results_hope.csv')

In [11]:
df.loc[df['일자'].astype(str).str[:4] != '2015']

,일자,제목,본문,ticker,pred_label,prob_neg,prob_neu,prob_pos,sentiment
223,20160104,"BGF리테일, 전략기획실장 인사총무실장 직책에 외부 전문가 영입",편의점 CU(씨유)를 운영하고 있는 BGF리테일이 인사총무실장과 전략기획실장 직책에...,282330,0,0.0087,0.9886,0.0027,중립
224,20160104,"BGF리테일, 신규 임원 특별채용 외부전문가 영입",장영철(왼쪽) BGF리테일 인사총무실장과 오정후 전략기획실장 (사진=BGF리테일 제...,282330,1,0.0030,0.0016,0.9954,호재(긍정)
225,20160104,"BGF리테일, 전략기획실장과 인사총무실장에 외부 전문가 영입","[BGF리테일 장영철 인사총무실장(왼쪽), 오정후 전략기획실장. 사진=BGF리테일 ...",282330,0,0.0162,0.9813,0.0025,중립
226,20160104,BGF리테일 신규 임원 특별 채용,편의점 CU를 운영하고 있는 BGF리테일은 인사총무실장과 전략기획실장 직책에 각각 ...,282330,1,0.0028,0.0015,0.9957,호재(긍정)
227,20160104,"BGF리테일, 신규 임원 특별 채용",[아시아경제 김현정 기자] 편의점 씨유(CU)를 운영하고 있는 BGF리테일이 인사총...,282330,1,0.0025,0.0015,0.9960,호재(긍정)
...,...,...,...,...,...,...,...,...,...
2478,20241202,"BGF리테일, 수익성 개선 구간 진입 ""밸류에이션 상단은 제한적""-하나증권",[머니투데이 천현정 기자] 하나증권은 BGF리테일이 수익성 개선 구간에 진입했으나 ...,282330,0,0.0246,0.9592,0.0163,중립
2479,20241218,"민승배 BGF리테일 대표, 한국유통대상 동탑산업훈장 수상",편의점 CU를 운영하는 BGF리테일은 민승배 대표가 이달 17일 대한상공회의소에서 ...,282330,0,0.0085,0.9893,0.0022,중립
2480,20241218,"민승배 BGF리테일 대표, 제29회 한국유통대상 동탑산업훈장 수상",BGF리테일은 민승배 대표가 이달 17일 대한상공회의소에서 열린 제29회 한국유통대...,282330,0,0.0070,0.9908,0.0022,중립
2481,20241218,"[단독] 고속도로 휴게소 진출한 BGF리테일 ‘함박웃음’, 얼마나 벌길래? [언박싱]","BGF리테일, 고속도로 5개 휴게시설 운영권 낙찰 \n年매출 776억원 예상 일반 ...",282330,1,0.0016,0.0009,0.9975,호재(긍정)
2482,20241219,"BGF리테일, 고속도휴게소 진출 ‘함박웃음’",서산 치악 등 5곳 휴게시설 운영 \n지분투자로 편의점 추가 개점 검토 \n일반점比...,282330,-1,0.4673,0.3094,0.2233,악재(부정)

In [34]:
df['ticker'].astype(str).str.zfill(6)

0       081660
1       081660
2       081660
3       081660
4       081660
         ...
2740    081660
2741    081660
2742    081660
2743    081660
2744    081660
Name: ticker, Length: 2745, dtype: object

In [21]:
from sqlalchemy import create_engine, text
import os
from sqlalchemy.engine import URL

url_object = URL.create(
    drivername="mysql+pymysql",
    username=os.getenv('user'),
    password=os.getenv('pw'),
    host=os.getenv('host'),
    port=os.getenv('port'),
    database=os.getenv('db_name')
)

engine = create_engine(url_object)

In [20]:
print(f"현재 불러온 비밀번호: {os.getenv('pw')}")

현재 불러온 비밀번호: 1234

In [26]:
df

,일자,제목,본문,pred_label,prob_neg,prob_neu,prob_pos,sentiment
0,20170118,"AK홀딩스, 50억 규모 제주항공 주식 취득",AK홀딩스는 지배구조 강화를 위해 제주항공 주식 18만7969주를 장내매수한다고 1...,0,0.0027,0.8214,0.1759,중립
1,20170118,"AK홀딩스, 제주항공 주식 50억원에 취득 지배구조 강화 목적","AK홀딩스(006840)는 자회사인 제주항공 주식 18만7,969주를 50억원에 현...",0,0.0026,0.9512,0.0462,중립
2,20170118,"AK홀딩스, 자회사 제주항공 주식 50억 규모 취득",[ 채선희 기자 ] AK홀딩스는 자회사인 제주항공 주식 18만7969주를 50억원에...,0,0.0015,0.9890,0.0095,중립
3,20170126,"AK홀딩스, 제주항공 주식 5000주 장내매수",[이투데이] 양용비 기자(dragonfly@etoday.co.kr)\n\n제주항공은...,0,0.0019,0.9948,0.0032,중립
4,20170201,"AK홀딩스, 자회사 제주항공 3000주 장내매수","AK홀딩스(006840)는 자회사인 제주항공(089590)의 보통주 3,000주를 ...",0,0.0019,0.9957,0.0024,중립
...,...,...,...,...,...,...,...,...
194,20201120,AK홀딩스 690억원 규모 채무보증 결정,AK홀딩스는 자회사인 주식회사 제주항공이 한국수출입은행으로부터 빌린 690억원에 대...,0,0.0028,0.9903,0.0070,중립
195,20201120,AK홀딩스 360억원 규모 채무보증 결정,AK홀딩스는 자회사인 주식회사 제주항공이 현대차증권으로부터 빌린 360억원에 대해서...,0,0.0027,0.9894,0.0079,중립
196,20201203,"[장중수급포착] AK홀딩스, 외국인/기관 동시 순매수 주가 +9.21%",[서울=뉴스핌] 로보뉴스 = 03일 11시 30분 현재 AK홀딩스(006840)는 ...,1,0.0002,0.0006,0.9992,호재(긍정)
197,20201218,AK홀딩스 308억원 규모 채무보증 결정,AK홀딩스는 자회사인 주식회사 제주항공이 한국산업은행으로부터 빌린 308억원에 대해...,0,0.0023,0.9895,0.0081,중립
198,20201218,AK홀딩스 458억원 규모 채무보증 결정,AK홀딩스는 자회사인 주식회사 제주항공이 한국산업은행으로부터 빌린 458억원에 대해...,0,0.0026,0.9900,0.0074,중립

In [27]:
import pandas as pd
import os
from sqlalchemy import create_engine

# 2. CSV 파일들이 저장된 폴더 경로
folder_path = '../123_ticker'
file_list = [f for f in os.listdir(folder_path) if f.endswith('.csv')]

for file_name in file_list:
    file_full_path = os.path.join(folder_path, file_name)
    df = pd.read_csv(file_full_path)
    df = df.loc[df['일자'].astype(str).str[:4] != '2015']
    df['ticker'] = df['ticker'].astype(str).str.zfill(6)
    # 1. 날짜 변환 (기존 코드)
    df['base_date'] = pd.to_datetime(df['일자'], format='%Y%m%d', errors='coerce')
    
    # 2. ★ 컬럼명 매핑 (한글 -> 영어) ★
    # MySQL 테이블 정의(title, content 등)와 똑같이 맞춰줘야 합니다.
    df = df.rename(columns={
        '제목': 'title',
        '본문': 'content'
    })
    
    # 3. 필요 없는 기존 컬럼 삭제 (선택사항)
    # MySQL 테이블에 없는 '일자' 같은 컬럼이 남아있으면 에러가 날 수 있음
    df = df[['base_date', 'title', 'content', 'ticker', 'pred_label', 'prob_neg', 'prob_neu', 'prob_pos', 'sentiment']]
    
    # 4. DB에 저장
    try:
        df.to_sql(name='news_analysis', con=engine, if_exists='append', index=False)
        print(f"{file_name} 저장 성공!")
    except Exception as e:
        print(f"{file_name} 저장 실패: {e}")

print("모든 파일 업로드 완료.")

AK홀딩스_predicted_results_hope2.csv 저장 성공!
BGF_predicted_results_hope2.csv 저장 성공!
CJ CGV_predicted_results_hope2.csv 저장 성공!
CR홀딩스_predicted_results_hope2.csv 저장 성공!
DB하이텍_predicted_results_hope2.csv 저장 성공!
DN오토모티브_predicted_results_hope2.csv 저장 성공!
F&F홀딩스_predicted_results_hope2.csv 저장 성공!
HDC_predicted_results_hope2.csv 저장 성공!
HDC현대산업개발_predicted_results_hope2.csv 저장 성공!
HJ중공업_predicted_results_hope2.csv 저장 성공!
HL홀딩스_predicted_results_hope2.csv 저장 성공!
JW중외제약_predicted_results_hope2.csv 저장 성공!
JW홀딩스_predicted_results_hope2.csv 저장 성공!
KG스틸_predicted_results_hope2.csv 저장 성공!
LF_predicted_results_hope2.csv 저장 성공!
LG생명과학_predicted_results_hope2.csv 저장 성공!
LX하우시스_predicted_results_hope2.csv 저장 성공!
LX홀딩스_predicted_results_hope2.csv 저장 성공!
SBS_predicted_results_hope2.csv 저장 성공!
SGC에너지_predicted_results_hope2.csv 저장 성공!
SJG세종_predicted_results_hope2.csv 저장 성공!
SK_predicted_results_hope2.csv 저장 성공!
SK디스커버리_predicted_results_hope2.csv 저장 성공!
SNT다이내믹스_predicted_results_hope2.csv 저장 성공!
SNT모티브_predicted_results_hope2.csv 저장 성공!
SPC삼립_predicted_results_hope2.csv 저장 성공!
TBH글로벌_predicted_results_hope2.csv 저장 성공!
경방_predicted_results_hope2.csv 저장 성공!
고려제강_predicted_results_hope2.csv 저장 성공!
광동제약_predicted_results_hope2.csv 저장 성공!
국도화학_predicted_results_hope2.csv 저장 성공!
남선알미늄_predicted_results_hope2.csv 저장 성공!
남양유업_predicted_results_hope2.csv 저장 성공!
남해화학_predicted_results_hope2.csv 저장 성공!
넥센타이어_predicted_results_hope2.csv 저장 성공!
대교_predicted_results_hope2.csv 저장 성공!
대덕GDS_predicted_results_hope2.csv 저장 성공!
대덕_predicted_results_hope2.csv 저장 성공!
대원강업_predicted_results_hope2.csv 저장 성공!
도레이케미칼_predicted_results_hope2.csv 저장 성공!
동국홀딩스_predicted_results_hope2.csv 저장 성공!
동아쏘시오홀딩스_predicted_results_hope2.csv 저장 성공!
동아에스티_predicted_results_hope2.csv 저장 성공!
동양_predicted_results_hope2.csv 저장 성공!
동원F&B_predicted_results_hope2.csv 저장 성공!
동원산업_predicted_results_hope2.csv 저장 성공!
디와이_predicted_results_hope2.csv 저장 성공!
락앤락_predicted_results_hope2.csv 저장 성공!
롯데관광개발_predicted_results_hope2.csv 저장 성공!
롯데에너지머티리얼즈_predicted_results_hope2.csv 저장 성공!
롯데푸드_predicted_results_hope2.csv 저장 성공!
롯데하이마트_predicted_results_hope2.csv 저장 성공!
메리츠증권_predicted_results_hope2.csv 저장 성공!
메리츠화재_predicted_results_hope2.csv 저장 성공!
명신산업_predicted_results_hope2.csv 저장 성공!
모토닉_predicted_results_hope2.csv 저장 성공!
무림P&P_predicted_results_hope2.csv 저장 성공!
무학_predicted_results_hope2.csv 저장 성공!
미래에셋증권_predicted_results_hope2.csv 저장 성공!
벽산_predicted_results_hope2.csv 저장 성공!
보령_predicted_results_hope2.csv 저장 성공!
부광약품_predicted_results_hope2.csv 저장 성공!
빙그레_predicted_results_hope2.csv 저장 성공!
삼성물산_predicted_results_hope2.csv 저장 성공!
삼양사_predicted_results_hope2.csv 저장 성공!
삼양홀딩스_predicted_results_hope2.csv 저장 성공!
서연_predicted_results_hope2.csv 저장 성공!
서흥_predicted_results_hope2.csv 저장 성공!
송원산업_predicted_results_hope2.csv 저장 성공!
신도리코_predicted_results_hope2.csv 저장 성공!
신세계인터내셔날_predicted_results_hope2.csv 저장 성공!
신풍제약_predicted_results_hope2.csv 저장 성공!
쌍용C&E_predicted_results_hope2.csv 저장 성공!
아시아나항공_predicted_results_hope2.csv 저장 성공!
아이에스동서_predicted_results_hope2.csv 저장 성공!
알루코_predicted_results_hope2.csv 저장 성공!
애경산업_predicted_results_hope2.csv 저장 성공!
에이블씨엔씨_predicted_results_hope2.csv 저장 성공!
영진약품_predicted_results_hope2.csv 저장 성공!
영풍_predicted_results_hope2.csv 저장 성공!
우리은행_predicted_results_hope2.csv 저장 성공!
유니드_predicted_results_hope2.csv 저장 성공!
이노션_predicted_results_hope2.csv 저장 성공!
이수화학_predicted_results_hope2.csv 저장 성공!
일동홀딩스_predicted_results_hope2.csv 저장 성공!
일신방직_predicted_results_hope2.csv 저장 성공!
일양약품_predicted_results_hope2.csv 저장 성공!
일진디스플_predicted_results_hope2.csv 저장 성공!
자화전자_predicted_results_hope2.csv 저장 성공!
제일파마홀딩스_predicted_results_hope2.csv 저장 성공!
조광피혁_predicted_results_hope2.csv 저장 성공!
지누스_predicted_results_hope2.csv 저장 성공!
카프로_predicted_results_hope2.csv 저장 성공!
케이카_predicted_results_hope2.csv 저장 성공!
코리아써키트_predicted_results_hope2.csv 저장 성공!
코오롱_predicted_results_hope2.csv 저장 성공!
쿠쿠홀딩스_predicted_results_hope2.csv 저장 성공!
쿠쿠홈시스_predicted_results_hope2.csv 저장 성공!
크라운해태홀딩스_predicted_results_hope2.csv 저장 성공!
태광산업_predicted_results_hope2.csv 저장 성공!
태영건설_predicted_results_hope2.csv 저장 성공!
팜스코_predicted_results_hope2.csv 저장 성공!
퍼시스_predicted_results_hope2.csv 저장 성공!
포스코플랜텍_predicted_results_hope2.csv 저장 성공!
하이트진로홀딩스_predicted_results_hope2.csv 저장 성공!
한국단자_predicted_results_hope2.csv 저장 성공!
한국쉘석유_predicted_results_hope2.csv 저장 성공!
한국철강_predicted_results_hope2.csv 저장 성공!
한섬_predicted_results_hope2.csv 저장 성공!
한솔테크닉스_predicted_results_hope2.csv 저장 성공!
한솔홀딩스_predicted_results_hope2.csv 저장 성공!
한일현대시멘트_predicted_results_hope2.csv 저장 성공!
한일홀딩스_predicted_results_hope2.csv 저장 성공!
한화엔진_predicted_results_hope2.csv 저장 성공!
현대리바트_predicted_results_hope2.csv 저장 성공!
현대증권_predicted_results_hope2.csv 저장 성공!
현대지에프홀딩스_predicted_results_hope2.csv 저장 성공!
현대하이스코_predicted_results_hope2.csv 저장 성공!
현대홈쇼핑_predicted_results_hope2.csv 저장 성공!
화승엔터프라이즈_predicted_results_hope2.csv 저장 성공!
화신_predicted_results_hope2.csv 저장 성공!
효성_predicted_results_hope2.csv 저장 성공!
휴비스_predicted_results_hope2.csv 저장 성공!
모든 파일 업로드 완료.

In [28]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT COUNT(*) FROM news_analysis"))
    count = result.scalar() # 결과값 하나만 가져오기
    print(f"현재 테이블에 저장된 총 행의 개수: {count}개")

현재 테이블에 저장된 총 행의 개수: 1411810개