In [82]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.alert import Alert
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select

In [83]:
driver = webdriver.Chrome()
driver.get("https://www.bigkinds.or.kr/")

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../non코스피200.csv', dtype={'종목코드': str})

In [3]:
df1

           종목명    종목코드
0         우리은행  000030
1           경방  000050
2        메리츠화재  000060
3        삼양홀딩스  000070
4     하이트진로홀딩스  000140
..         ...     ...
118   화승엔터프라이즈  241590
119      쿠쿠홈시스  284740
120  HDC현대산업개발  294870
121        케이카  381970
122      LX홀딩스  383800

[123 rows x 2 columns]

In [4]:
company_list = df1['종목명'].tolist()
company_list

['우리은행',
 '경방',
 '메리츠화재',
 '삼양홀딩스',
 '하이트진로홀딩스',
 '일동홀딩스',
 '대원강업',
 'CR홀딩스',
 '동아쏘시오홀딩스',
 '영풍',
 '삼성물산',
 'DB하이텍',
 'JW중외제약',
 '동국홀딩스',
 '동양',
 '알루코',
 '코오롱',
 '고려제강',
 '롯데푸드',
 '넥센타이어',
 '제일파마홀딩스',
 '한국쉘석유',
 '부광약품',
 '일신방직',
 '태광산업',
 '한일홀딩스',
 '쌍용C&E',
 '현대증권',
 '영진약품',
 'SNT다이내믹스',
 'SK',
 '보령',
 '남양유업',
 '대덕GDS',
 '한솔홀딩스',
 '송원산업',
 '조광피혁',
 '한솔테크닉스',
 '효성',
 'SGC에너지',
 '빙그레',
 '현대지에프홀딩스',
 'SPC삼립',
 '크라운해태홀딩스',
 '이수화학',
 '동원산업',
 'SK디스커버리',
 '카프로',
 '한일현대시멘트',
 'AK홀딩스',
 '벽산',
 'DN오토모티브',
 '일양약품',
 '국도화학',
 'F&F홀딩스',
 '코리아써키트',
 '서연',
 '도레이케미칼',
 '대덕',
 '남선알미늄',
 '서흥',
 '메리츠증권',
 '광동제약',
 '태영건설',
 '무림P&P',
 '모토닉',
 '명신산업',
 '현대하이스코',
 '화신',
 '아이에스동서',
 'HDC',
 '디와이',
 '지누스',
 '유니드',
 'KG스틸',
 '퍼시스',
 '애경산업',
 '신풍제약',
 '대교',
 '한섬',
 '롯데에너지머티리얼즈',
 '아시아나항공',
 '일진디스플',
 '한국단자',
 '남해화학',
 'BGF',
 '신도리코',
 '신세계인터내셔날',
 '롯데관광개발',
 '자화전자',
 'SJG세종',
 '무학',
 'SBS',
 '팜스코',
 '미래에셋증권',
 '동원F&B',
 '포스코플랜텍',
 '현대홈쇼핑',
 'HL홀딩스',
 'SNT모티브',
 'LG생명과학',
 '롯데하이마트',
 '에이블씨엔씨',
 'CJ CGV',
 '현대리바트',
 '휴비스',
 '한화엔진',
 'TBH글로벌',
 'LF',
 'JW홀딩스',
 'HJ중공업',
 '한국철강',
 'LX하우시스',
 '락앤락',
 '삼양사',
 '동아에스티',
 '쿠쿠홀딩스',
 '이노션',
 '화승엔터프라이즈',
 '쿠쿠홈시스',
 'HDC현대산업개발',
 '케이카',
 'LX홀딩스']

In [5]:
df2 = pd.read_csv('../코스피200ticker.csv', dtype={'ticker':str})
df2

     ticker  start_date    end_date
0    000030  2015-01-30  2019-01-31
1    000050  2015-06-30  2018-05-31
2    000060  2022-06-30  2022-12-29
3    000070  2015-01-30  2022-11-30
4    000080  2015-01-30  2024-12-30
..      ...         ...         ...
318  450080  2023-12-28  2024-12-30
319  454910  2024-06-28  2024-12-30
320  456040  2024-12-30  2024-12-30
321  457190  2024-06-28  2024-12-30
322  489790  2024-09-30  2024-12-30

[323 rows x 3 columns]

In [6]:


# df1: 종목코드가 기준 (데이터가 더 적음)
# df2: ticker가 기준 (데이터가 더 많음)

# 병합 실행
merged_df = pd.merge(
    df1, 
    df2, 
    left_on='종목코드',  # df1의 기준 컬럼명
    right_on='ticker',   # df2의 기준 컬럼명
    how='left'           # df1(왼쪽)에 있는 것만 남기기
)

# 만약 '종목코드'와 'ticker'가 같은 값이니 컬럼이 중복되는 게 싫다면 하나를 지워줍니다.
merged_df = merged_df.drop('ticker', axis=1)

merged_df

           종목명    종목코드  start_date    end_date
0         우리은행  000030  2015-01-30  2019-01-31
1           경방  000050  2015-06-30  2018-05-31
2        메리츠화재  000060  2022-06-30  2022-12-29
3        삼양홀딩스  000070  2015-01-30  2022-11-30
4     하이트진로홀딩스  000140  2015-01-30  2017-05-31
..         ...     ...         ...         ...
118   화승엔터프라이즈  241590  2020-06-30  2023-05-31
119      쿠쿠홈시스  284740  2020-06-30  2023-11-30
120  HDC현대산업개발  294870  2018-06-29  2023-11-30
121        케이카  381970  2022-06-30  2023-11-30
122      LX홀딩스  383800  2021-05-31  2021-11-30

[123 rows x 4 columns]

In [7]:
merged_df.to_csv('../123종목리스트.csv', index=False, encoding='utf-8-sig')

In [17]:
merged_df['start_year'] = merged_df['start_date'].astype(str).str[:4]

In [18]:
merged_df['end_year'] = merged_df['end_date'].astype(str).str[:4]

In [19]:
merged_df

           종목명    종목코드  start_date    end_date start_year end_year
0         우리은행  000030  2015-01-30  2019-01-31       2015     2019
1           경방  000050  2015-06-30  2018-05-31       2015     2018
2        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
3        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
4     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
118   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
119      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
120  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
121        케이카  381970  2022-06-30  2023-11-30       2022     2023
122      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[123 rows x 6 columns]

In [ ]:
int(merged_df.loc[0]['end_year']) - int(merged_df.loc[0]['start_year'])

4

In [29]:
for i in range(len(merged_df)):
    if int(merged_df.loc[i]['start_year']) - int(merged_df.loc[i]['end_year']) + 1 > 5:
        print(i)

In [84]:
def news_download(search_text : str, begin : str, end : str) -> None:
    
    search_element = driver.find_element(By.ID, "total-search-key")
    search_element.send_keys(search_text)
    detail_search_button = driver.find_element(By.ID, 'ig-sd-btn')
    detail_search_button.click()
    time.sleep(1)

    start_date = driver.find_element(By.ID, "search-begin-date")
    end_date = driver.find_element(By.ID, "search-end-date") 
    start_date.click()
    start_date.send_keys(Keys.CONTROL, "a")
    start_date.send_keys(Keys.DELETE)
    start_date.send_keys(begin)
    time.sleep(1)

    end_date.click()
    end_date.send_keys(Keys.CONTROL, "a")
    end_date.send_keys(Keys.DELETE)
    end_date.send_keys(end)
    time.sleep(1)

    detail_tab = driver.find_element(By.XPATH, "//a[contains(@class, 'tab-btn') and text()='상세검색']")
    detail_tab.click()
    time.sleep(1)

    scope_select = Select(driver.find_element(By.ID, "search-scope-type"))
    scope_select.select_by_value("2")
    time.sleep(1)

    search_btn = driver.find_element(By.CSS_SELECTOR, ".apply-btn.primary-btn.news-search-btn")
    search_btn.click()
    time.sleep(3)
    loader = driver.find_element(By.CSS_SELECTOR, ".news-loader.loading")

    WebDriverWait(driver, 120).until(
        lambda d: loader.get_attribute("style") == "display: none;"
    )
    filter_tab = driver.find_element(By.ID, 'filterTab03')
    filter_check = filter_tab.find_elements(By.TAG_NAME, 'span')[1]
    filter_check.click()
    time.sleep(1)

    step3_btn = driver.find_element(By.ID, "collapse-step-3")
    step3_btn.click()
    time.sleep(3)
    down_btn = driver.find_element(By.CLASS_NAME, 'news-download-btn')
    down_btn.click()
    time.sleep(1)
    try:
        alert = Alert(driver)
        alert.accept()
    except:
        pass
    time.sleep(1)
    
    loader = driver.find_element(By.CSS_SELECTOR, ".news-loader.loading")

    WebDriverWait(driver, 120).until(
        lambda d: loader.get_attribute("style") == "display: none;"
    )
    print(f"{search_text}의 뉴스의 기간 {begin} ~ {end} 다운로드되었습니다.")

In [30]:
merged_df

           종목명    종목코드  start_date    end_date start_year end_year
0         우리은행  000030  2015-01-30  2019-01-31       2015     2019
1           경방  000050  2015-06-30  2018-05-31       2015     2018
2        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
3        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
4     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
118   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
119      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
120  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
121        케이카  381970  2022-06-30  2023-11-30       2022     2023
122      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[123 rows x 6 columns]

In [36]:
merged_df[0]['start_year']

KeyError: 0

In [43]:
merged_df

           종목명    종목코드  start_date    end_date start_year end_year
0         우리은행  000030  2015-01-30  2019-01-31       2015     2019
1           경방  000050  2015-06-30  2018-05-31       2015     2018
2        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
3        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
4     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
118   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
119      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
120  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
121        케이카  381970  2022-06-30  2023-11-30       2022     2023
122      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[123 rows x 6 columns]

In [44]:
merged_df2 = merged_df[1:]

In [54]:
merged_df2.reset_index(drop=True, inplace=True)

In [55]:
company_list = merged_df2['종목명'].tolist()
company_list

['경방',
 '메리츠화재',
 '삼양홀딩스',
 '하이트진로홀딩스',
 '일동홀딩스',
 '대원강업',
 'CR홀딩스',
 '동아쏘시오홀딩스',
 '영풍',
 '삼성물산',
 'DB하이텍',
 'JW중외제약',
 '동국홀딩스',
 '동양',
 '알루코',
 '코오롱',
 '고려제강',
 '롯데푸드',
 '넥센타이어',
 '제일파마홀딩스',
 '한국쉘석유',
 '부광약품',
 '일신방직',
 '태광산업',
 '한일홀딩스',
 '쌍용C&E',
 '현대증권',
 '영진약품',
 'SNT다이내믹스',
 'SK',
 '보령',
 '남양유업',
 '대덕GDS',
 '한솔홀딩스',
 '송원산업',
 '조광피혁',
 '한솔테크닉스',
 '효성',
 'SGC에너지',
 '빙그레',
 '현대지에프홀딩스',
 'SPC삼립',
 '크라운해태홀딩스',
 '이수화학',
 '동원산업',
 'SK디스커버리',
 '카프로',
 '한일현대시멘트',
 'AK홀딩스',
 '벽산',
 'DN오토모티브',
 '일양약품',
 '국도화학',
 'F&F홀딩스',
 '코리아써키트',
 '서연',
 '도레이케미칼',
 '대덕',
 '남선알미늄',
 '서흥',
 '메리츠증권',
 '광동제약',
 '태영건설',
 '무림P&P',
 '모토닉',
 '명신산업',
 '현대하이스코',
 '화신',
 '아이에스동서',
 'HDC',
 '디와이',
 '지누스',
 '유니드',
 'KG스틸',
 '퍼시스',
 '애경산업',
 '신풍제약',
 '대교',
 '한섬',
 '롯데에너지머티리얼즈',
 '아시아나항공',
 '일진디스플',
 '한국단자',
 '남해화학',
 'BGF',
 '신도리코',
 '신세계인터내셔날',
 '롯데관광개발',
 '자화전자',
 'SJG세종',
 '무학',
 'SBS',
 '팜스코',
 '미래에셋증권',
 '동원F&B',
 '포스코플랜텍',
 '현대홈쇼핑',
 'HL홀딩스',
 'SNT모티브',
 'LG생명과학',
 '롯데하이마트',
 '에이블씨엔씨',
 'CJ CGV',
 '현대리바트',
 '휴비스',
 '한화엔진',
 'TBH글로벌',
 'LF',
 'JW홀딩스',
 'HJ중공업',
 '한국철강',
 'LX하우시스',
 '락앤락',
 '삼양사',
 '동아에스티',
 '쿠쿠홀딩스',
 '이노션',
 '화승엔터프라이즈',
 '쿠쿠홈시스',
 'HDC현대산업개발',
 '케이카',
 'LX홀딩스']

In [57]:
merged_df2

           종목명    종목코드  start_date    end_date start_year end_year
0           경방  000050  2015-06-30  2018-05-31       2015     2018
1        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
2        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
3     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
4        일동홀딩스  000230  2015-06-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
117   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
118      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
119  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
120        케이카  381970  2022-06-30  2023-11-30       2022     2023
121      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[122 rows x 6 columns]

In [ ]:
# year_list = range(2015, 2025)
# text_list = company_list

# for idx in range(len(merged_df2)):
#     begin_date = merged_df2.loc[idx]['start_year'] + '-01-01'
#     end_date = merged_df2.loc[idx]['end_year'] + '-12-31'
#     for text in text_list:
#         print(text)
#         try:
#             news_download(text, begin_date, end_date)
            
#             driver.get("https://www.bigkinds.or.kr/")
#         except Exception as e:
#             print(e)
#             print(f"{text} : {begin_date} ~ {end_date} 실패")

경방

KeyboardInterrupt:

In [62]:
merged_df2.loc[0]['start_year'] + '-01-01'

'2015-01-01'

In [67]:
(int(merged_df2.loc[0]['start_year']) - int(merged_df2.loc[0]['end_year']) + 1)

-2

In [89]:
sum = 0

for idx in range(len(merged_df2)):
    if (int(merged_df2.loc[idx]['end_year']) - int(merged_df2.loc[idx]['start_year']) + 1) > 7:
        sum += 1

In [90]:
sum

20

In [74]:
int(merged_df2.loc[23]['end_year']) - int(merged_df2.loc[23]['start_year']) > 4

True

In [69]:
merged_df2.loc[12]

종목명                동국홀딩스
종목코드              001230
start_date    2015-01-30
end_date      2023-05-31
start_year          2015
end_year            2023
Name: 12, dtype: object

In [ ]:
for idx in range(len(merged_df2)):
    begin_date = merged_df2.loc[idx]['start_year'] + '-01-01'
    end_date = merged_df2.loc[idx]['end_year'] + '-12-31'
    text = merged_df2.loc[idx]['종목명']
    try:
        news_download(text, begin_date, end_date)
    
        driver.get("https://www.bigkinds.or.kr/")
    except Exception as e:
        print(e)
        print(f"{text} : {begin_date} ~ {end_date} 실패")

경방의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
메리츠화재의 뉴스의 기간 2022-01-01 ~ 2022-12-31 다운로드되었습니다.
Alert Text: 검색어가 있는경우
1회 최대 검색 기간은 5년입니다.
검색기간을 5년 이내로 설정하여 주십시오.
Message: unexpected alert open: {Alert text : 검색어가 있는경우
1회 최대 검색 기간은 5년입니다.
검색기간을 5년 이내로 설정하여 주십시오.}
  (Session info: chrome=142.0.7444.177)
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0x7ff694c6a235
	0x7ff6949c2630
	0x7ff6947516dd
	0x7ff6947fc518
	0x7ff69479b0ed
	0x7ff69479bf63
	0x7ff694c95d60
	0x7ff694c8fe8a
	0x7ff694cb1005
	0x7ff6949dd71e
	0x7ff6949e4e1f
	0x7ff6949cb7c4
	0x7ff6949cb97f
	0x7ff6949b18e8
	0x7ffbad1fe8d7
	0x7ffbada4c53c

삼양홀딩스 : 2015-01-01 ~ 2022-12-31 실패
Message: element click intercepted: Element <button type="button" class="bk_searchDetailBtn" id="ig-sd-btn" title="팝업창 열림">...</button> is not clickable at point (1051, 405). Other element would receive the click: <div class="item">...</div>
  (Session info: chrome=142.0.7444.177); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#elementclickinterceptedexception
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0x7ff694c6a235
	0x7ff6949c2630
	0x7ff6947516dd
	0x7ff6947b24c9
	0x7ff6947afe4e
	0x7ff6947acd71
	0x7ff6947abc10
	0x7ff69479d3a8
	0x7ff6947d2b0a
	0x7ff69479cc36
	0x7ff6947fbaba
	0x7ff69479b0ed
	0x7ff69479bf63
	0x7ff694c95d60
	0x7ff694c8fe8a
	0x7ff694cb1005
	0x7ff6949dd71e
	0x7ff6949e4e1f
	0x7ff6949cb7c4
	0x7ff6949cb97f
	0x7ff6949b18e8
	0x7ffbad1fe8d7
	0x7ffbada4c53c

하이트진로홀딩스 : 2015-01-01 ~ 2017-12-31 실패
Message: element click intercepted: Element <button type="button" class="bk_searchDetailBtn" id="ig-sd-btn" title="팝업창 열림">...</button> is not clickable at point (1051, 405). Other element would receive the click: <div class="item">...</div>
  (Session info: chrome=142.0.7444.177); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#elementclickinterceptedexception
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0x7ff694c6a235
	0x7ff6949c2630
	0x7ff6947516dd
	0x7ff6947b24c9
	0x7ff6947afe4e
	0x7ff6947acd71
	0x7ff6947abc10
	0x7ff69479d3a8
	0x7ff6947d2b0a
	0x7ff69479cc36
	0x7ff6947fbaba
	0x7ff69479b0ed
	0x7ff69479bf63
	0x7ff694c95d60
	0x7ff694c8fe8a
	0x7ff694cb1005
	0x7ff6949dd71e
	0x7ff6949e4e1f
	0x7ff6949cb7c4
	0x7ff6949cb97f
	0x7ff6949b18e8
	0x7ffbad1fe8d7
	0x7ffbada4c53c

일동홀딩스 : 2015-01-01 ~ 2017-12-31 실패
Message: element click intercepted: Element <button type="button" class="bk_searchDetailBtn" id="ig-sd-btn" title="팝업창 열림">...</button> is not clickable at point (1051, 405). Other element would receive the click: <div class="item">...</div>
  (Session info: chrome=142.0.7444.177); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#elementclickinterceptedexception
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0x7ff694c6a235
	0x7ff6949c2630
	0x7ff6947516dd
	0x7ff6947b24c9
	0x7ff6947afe4e
	0x7ff6947acd71
	0x7ff6947abc10
	0x7ff69479d3a8
	0x7ff6947d2b0a
	0x7ff69479cc36
	0x7ff6947fbaba
	0x7ff69479b0ed
	0x7ff69479bf63
	0x7ff694c95d60
	0x7ff694c8fe8a
	0x7ff694cb1005
	0x7ff6949dd71e
	0x7ff6949e4e1f
	0x7ff6949cb7c4
	0x7ff6949cb97f
	0x7ff6949b18e8
	0x7ffbad1fe8d7
	0x7ffbada4c53c

대원강업 : 2015-01-01 ~ 2015-12-31 실패
Message: element click intercepted: Element <button type="button" class="bk_searchDetailBtn" id="ig-sd-btn" title="팝업창 열림">...</button> is not clickable at point (1051, 405). Other element would receive the click: <div class="item">...</div>
  (Session info: chrome=142.0.7444.177); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#elementclickinterceptedexception
Stacktrace:
Symbols not available. Dumping unresolved backtrace:
	0x7ff694c6a235
	0x7ff6949c2630
	0x7ff6947516dd
	0x7ff6947b24c9
	0x7ff6947afe4e
	0x7ff6947acd71
	0x7ff6947abc10
	0x7ff69479d3a8
	0x7ff6947d2b0a
	0x7ff69479cc36
	0x7ff6947fbaba
	0x7ff69479b0ed
	0x7ff69479bf63
	0x7ff694c95d60
	0x7ff694c8fe8a
	0x7ff694cb1005
	0x7ff6949dd71e
	0x7ff6949e4e1f
	0x7ff6949cb7c4
	0x7ff6949cb97f
	0x7ff6949b18e8
	0x7ffbad1fe8d7
	0x7ffbada4c53c

CR홀딩스 : 2015-01-01 ~ 2016-12-31 실패

KeyboardInterrupt:

In [77]:
year_list = range(2015, 2016, 3)

In [79]:
for year in year_list:
    print(year)

2015

In [80]:
merged_df2

           종목명    종목코드  start_date    end_date start_year end_year
0           경방  000050  2015-06-30  2018-05-31       2015     2018
1        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
2        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
3     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
4        일동홀딩스  000230  2015-06-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
117   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
118      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
119  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
120        케이카  381970  2022-06-30  2023-11-30       2022     2023
121      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[122 rows x 6 columns]

In [86]:
merged_df2

           종목명    종목코드  start_date    end_date start_year end_year
0           경방  000050  2015-06-30  2018-05-31       2015     2018
1        메리츠화재  000060  2022-06-30  2022-12-29       2022     2022
2        삼양홀딩스  000070  2015-01-30  2022-11-30       2015     2022
3     하이트진로홀딩스  000140  2015-01-30  2017-05-31       2015     2017
4        일동홀딩스  000230  2015-06-30  2017-05-31       2015     2017
..         ...     ...         ...         ...        ...      ...
117   화승엔터프라이즈  241590  2020-06-30  2023-05-31       2020     2023
118      쿠쿠홈시스  284740  2020-06-30  2023-11-30       2020     2023
119  HDC현대산업개발  294870  2018-06-29  2023-11-30       2018     2023
120        케이카  381970  2022-06-30  2023-11-30       2022     2023
121      LX홀딩스  383800  2021-05-31  2021-11-30       2021     2021

[122 rows x 6 columns]

In [93]:
start_year = int(merged_df2.loc[2]['start_year'])
end_year = int(merged_df2.loc[2]['end_year'])
for year in range(start_year, end_year+1, 5):
    print(year)

2015
2020

In [99]:
for idx in range(len(merged_df2)):
    text = merged_df2.loc[idx]['종목명']
    start_year = int(merged_df2.loc[idx]['start_year'])
    end_year = int(merged_df2.loc[idx]['end_year'])
    if end_year - start_year > 4:
        for year in range(start_year, end_year+1, 5):
            begin_date = str(year) + '-01-01'
            if year + 4 > end_year:
                end_date = str(end_year) + '-12-31'
            else:
                end_date = str(year+4) + '-12-31'
            try:
                news_download(text, begin_date, end_date)
            
                driver.get("https://www.bigkinds.or.kr/")
            except Exception as e:
                print(e)
                print(f"{text} : {begin_date} ~ {end_date} 실패")
    else:
        begin_date = merged_df2.loc[idx]['start_year'] + '-01-01'
        end_date = merged_df2.loc[idx]['end_year'] + '-12-31'
        text = merged_df2.loc[idx]['종목명']
        try:
            news_download(text, begin_date, end_date)
        
            driver.get("https://www.bigkinds.or.kr/")
        except Exception as e:
            print(e)
            print(f"{text} : {begin_date} ~ {end_date} 실패")

경방의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
메리츠화재의 뉴스의 기간 2022-01-01 ~ 2022-12-31 다운로드되었습니다.
삼양홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
삼양홀딩스의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
하이트진로홀딩스의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
일동홀딩스의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
대원강업의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
CR홀딩스의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
동아쏘시오홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
동아쏘시오홀딩스의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
영풍의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
영풍의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
삼성물산의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
DB하이텍의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
DB하이텍의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
JW중외제약의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
JW중외제약의 뉴스의 기간 2021-01-01 ~ 2021-12-31 다운로드되었습니다.
동국홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
동국홀딩스의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
동양의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
알루코의 뉴스의 기간 2016-01-01 ~ 2017-12-31 다운로드되었습니다.
코오롱의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
고려제강의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
고려제강의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
롯데푸드의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
롯데푸드의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
넥센타이어의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
넥센타이어의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
제일파마홀딩스의 뉴스의 기간 2016-01-01 ~ 2017-12-31 다운로드되었습니다.
한국쉘석유의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
한국쉘석유의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
부광약품의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
부광약품의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
일신방직의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
태광산업의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
태광산업의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
한일홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
쌍용C&E의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
쌍용C&E의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
현대증권의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
영진약품의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
영진약품의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
SNT다이내믹스의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
SK의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
보령의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
보령의 뉴스의 기간 2021-01-01 ~ 2023-12-31 다운로드되었습니다.
남양유업의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
남양유업의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
대덕GDS의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
한솔홀딩스의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
송원산업의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
조광피혁의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
한솔테크닉스의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
효성의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
효성의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
SGC에너지의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
빙그레의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
빙그레의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
현대지에프홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
현대지에프홀딩스의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
SPC삼립의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
SPC삼립의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
크라운해태홀딩스의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
이수화학의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
동원산업의 뉴스의 기간 2021-01-01 ~ 2023-12-31 다운로드되었습니다.
SK디스커버리의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
SK디스커버리의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
카프로의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
한일현대시멘트의 뉴스의 기간 2019-01-01 ~ 2021-12-31 다운로드되었습니다.
AK홀딩스의 뉴스의 기간 2017-01-01 ~ 2020-12-31 다운로드되었습니다.
벽산의 뉴스의 기간 2016-01-01 ~ 2017-12-31 다운로드되었습니다.
DN오토모티브의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
일양약품의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
일양약품의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
국도화학의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
F&F홀딩스의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
코리아써키트의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
서연의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
도레이케미칼의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
대덕의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
대덕의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
남선알미늄의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
서흥의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
메리츠증권의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
메리츠증권의 뉴스의 기간 2021-01-01 ~ 2023-12-31 다운로드되었습니다.
광동제약의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
태영건설의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
무림P&P의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
모토닉의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
명신산업의 뉴스의 기간 2021-01-01 ~ 2024-12-31 다운로드되었습니다.
현대하이스코의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
화신의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
아이에스동서의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
아이에스동서의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
HDC의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
HDC의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
디와이의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
지누스의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
유니드의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
유니드의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
KG스틸의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
퍼시스의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
애경산업의 뉴스의 기간 2019-01-01 ~ 2021-12-31 다운로드되었습니다.
신풍제약의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
대교의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
대교의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
한섬의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
한섬의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
롯데에너지머티리얼즈의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
롯데에너지머티리얼즈의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
아시아나항공의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
일진디스플의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
한국단자의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
한국단자의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
남해화학의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
남해화학의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
BGF의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
신도리코의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
신세계인터내셔날의 뉴스의 기간 2019-01-01 ~ 2023-12-31 다운로드되었습니다.
신세계인터내셔날의 뉴스의 기간 2024-01-01 ~ 2024-12-31 다운로드되었습니다.
롯데관광개발의 뉴스의 기간 2020-01-01 ~ 2024-12-31 다운로드되었습니다.
자화전자의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
SJG세종의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
무학의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
SBS의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
팜스코의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
미래에셋증권의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
동원F&B의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
동원F&B의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
포스코플랜텍의 뉴스의 기간 2015-01-01 ~ 2015-12-31 다운로드되었습니다.
현대홈쇼핑의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
현대홈쇼핑의 뉴스의 기간 2021-01-01 ~ 2023-12-31 다운로드되었습니다.
HL홀딩스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
HL홀딩스의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
SNT모티브의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
SNT모티브의 뉴스의 기간 2020-01-01 ~ 2022-12-31 다운로드되었습니다.
LG생명과학의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
롯데하이마트의 뉴스의 기간 2018-01-01 ~ 2021-12-31 다운로드되었습니다.
에이블씨엔씨의 뉴스의 기간 2015-01-01 ~ 2018-12-31 다운로드되었습니다.
CJ CGV의 뉴스의 기간 2017-01-01 ~ 2021-12-31 다운로드되었습니다.
CJ CGV의 뉴스의 기간 2022-01-01 ~ 2022-12-31 다운로드되었습니다.
현대리바트의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
현대리바트의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
휴비스의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
한화엔진의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
TBH글로벌의 뉴스의 기간 2015-01-01 ~ 2016-12-31 다운로드되었습니다.
LF의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
LF의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
JW홀딩스의 뉴스의 기간 2017-01-01 ~ 2020-12-31 다운로드되었습니다.
HJ중공업의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
한국철강의 뉴스의 기간 2015-01-01 ~ 2017-12-31 다운로드되었습니다.
LX하우시스의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
LX하우시스의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
락앤락의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
락앤락의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
삼양사의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
삼양사의 뉴스의 기간 2020-01-01 ~ 2021-12-31 다운로드되었습니다.
동아에스티의 뉴스의 기간 2015-01-01 ~ 2019-12-31 다운로드되었습니다.
동아에스티의 뉴스의 기간 2020-01-01 ~ 2020-12-31 다운로드되었습니다.
쿠쿠홀딩스의 뉴스의 기간 2016-01-01 ~ 2020-12-31 다운로드되었습니다.
쿠쿠홀딩스의 뉴스의 기간 2021-01-01 ~ 2022-12-31 다운로드되었습니다.
이노션의 뉴스의 기간 2017-01-01 ~ 2021-12-31 다운로드되었습니다.
화승엔터프라이즈의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
쿠쿠홈시스의 뉴스의 기간 2020-01-01 ~ 2023-12-31 다운로드되었습니다.
HDC현대산업개발의 뉴스의 기간 2018-01-01 ~ 2022-12-31 다운로드되었습니다.
HDC현대산업개발의 뉴스의 기간 2023-01-01 ~ 2023-12-31 다운로드되었습니다.
케이카의 뉴스의 기간 2022-01-01 ~ 2023-12-31 다운로드되었습니다.
LX홀딩스의 뉴스의 기간 2021-01-01 ~ 2021-12-31 다운로드되었습니다.